@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roboto: "Roboto", sans-serif;

    --lila: #5170FF;
    --negro: #000000;
    --blanco: #FFFFFF;
    --lila-hover: #3C55C6;
}

* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: var(--blanco);
    font-family: var(--roboto);
}

.header {
    background-color: var(--lila);
    color: var(--blanco);
    font-size: 45px;
    font-weight: 700;
    padding: 72px 0 72px 42px;
}

.titulo {
    text-decoration: none;
    font-size: 90px;
    color: var(--blanco);
}

.main {
    margin: 167px 0 0 560px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.subtitulo {
    color: var(--negro);
    font-size: 28px;
}

.opciones {
    color: var(--blanco);
    background-color: var(--lila);
    font-size: 18px;
    gap: 22px;
    padding: 20px 0 20px 20px;
    width: 700px;
    border-radius: 50px;
    transition: width 100ms;
    text-decoration: none;
}

.opciones:hover {
    background-color: var(--lila-hover);
    transition: ease-in-out 100ms;
    width: 730px;
}

.inputTexto {
    width: 737px;
    border: solid 2px;
    border-radius: 50px;
    padding: 20px 0 20px 10px;
    font-family: var(--roboto);
    font-size: 16px;
}

.divOpcionesTexto {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.opcionesTexto {
    background-color: var(--lila);
    color: var(--blanco);
    font-size: 18px;
    text-decoration: none;
    width: 199px;
    text-align: center;
    padding: 20px 0;
    border-radius: 50px;
}

.opcionesTexto:hover {
    background-color: var(--lila-hover);
    transition: ease-in-out 100ms;
}

.parrafoFinal {
    font-family: var(--roboto);
    font-size: 18px;
    width: 761px;
}

.linkAca {
    color: var(--lila);
    text-decoration: underline;
}

.linkAca:hover {
    color: var(--lila-hover);
}

.resaltado {
    color: var(--lila);
    font-size: 28px;
}

.footer {
    font-size: 18px;
    display: flex;
    padding: 23.5% 50% 0 50%;
}

.redesSociales {
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.redesSociales a {
    display: flex;
    color: var(--negro);
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

.logos {
    width: 30px;
    padding-right: 5px;
}